<div style="width: 30%; padding: 4rem;">
    <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quaerat enim nesciunt
            quis?
        </div>
    </div>
    <hr style="margin: 10px;">
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quaerat enim nesciunt
            quis?
        </div>
    </div>
</div>