:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
/* 1st, identify the primary, secondary, and accent color.
   2nd, Define the color pallet using the variables. So we can reuse them in multiple places.
   Note: use the :root pseudo selector = <html> element
        :root - define the global variables
    */
/* Typhography*/
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Halvetica, sans-serif;
  font-size: 2.4rem;
  /* it means 1.5 x the current font-size:*/
  line-height: 1.5;
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  /* This property will let the heading<h3> decide the margin above the <p>   */
  margin-top: 0;
}

/* 1024px - Standard Breakpoint (Used by Bootstrap and Tailwind)
   Breaking point for Loptop and Desktop. */
@media screen and (min-width: 1024px) {
  /* Use Photoshop to measure their px: */
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
/* This rule will remove all the underline on anchor element */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  /* These values is from mobile version of our design */
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1px;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  /* Apply the transition to make it smooth trasnition */
  transition: margin 0.15s;
}

/* Targeting the "after" element, This class will move the arrow 10px from R to L once u hover it. */
.link-arrow:hover::after {
  margin-left: 10px;
}

/* Best Approach to make a new @media query for "Links" part  */
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
